---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// START LAYOUT

.website-container {
  background-color: #FFCC00;
  position: absolute;
  overflow: hidden;
  height: 80%; 
  width: 80%; 
  top: 10%; 
  left: 10%; 
}

.content-container{
  background-color: blue;
	overflow: hidden;
	max-width: 60em;
	min-width: 20em;
	float: right;
  height:100%;
}

.content{
	padding-left: 1em;
	padding-right: 2em;
	width: 97%;
  height:100px;
  overflow:auto;
  background-color: green;
}