---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// START -> LAYOUT

.height-container {
	position: absolute;
	min-height: 35em;
	height: 100%;
	width: 100%;
}

.website-container {
  background-color: #FFCC00;
  position: absolute;
  height: 70%; 
  min-width: 56em;
  width: 80%;
  top: 14%;
  left: 10%;
}

.width_limit-container {
	background-color: #0066ff;
  position: absolute;
  overflow: hidden;
  right: 0%;
  height: 100%; 
  width: 67%;
}

.content-container{
  background-color: blue;
  position: relative;
	overflow: hidden;
	max-width: 60em;
	min-width: 20em;
	right: 0%;
	top: 10%;
  height:80%;
}

.content{
	padding-left: 1em;
	padding-right: 2em;
	width: 97%;
	min-height: 20em;
  height: 56vh;
  overflow: auto;
  background-color: green;
}

//LAYOUT -> START NAVBAR
.navbar{
	position: absolute;
	background-color: green;
	z-index: 1;
	width: 19em;
	height: 100%;
}

.nav-list-blank{
	background-color: #008080;
	width: 90%;
	height: 100%;
}

.nav-list{
	background-color: #00c3c3;
	text-align: center;
	position: absolute;
	width: 90%;
	height: 12.5%;
}

.nav-list a{
	position: relative;
	text-decoration: none;
	top: 37%;
}

.willkommen-l{
	width: 90%;
}

.ubermich-l{
	top: 25%;
	width: 90%;
}

.angebote-l{
	top: 50%;
	width: 90%;
}

.info-l{ 
	bottom: 0%;
	height: 25%;
	width: 90%
}
//LAYOUT -> END NAVBAR


//LAYOUT -> START FIXED POSITION

.bar1, .bar2, .bar3 {
	background-color: blue;
	position: absolute;
	min-width: 66em;
	width: 100%;
	height: 0.6em;
}

.bar1{
	top: 0em;
}

.bar2{
	top: 1em;
}

.bar3{
	bottom: 2.4em;
}

.footer {
	background-color: blue;
	position: absolute;
	min-width: 66em;
	width: 100%;
	height: 2em;
	bottom: 0em;
}

//LAYOUT -> END FIXED POSITION


//LAYOUT -> START SITES
.site {
	position: static;
	display: inline-block;
	width: 100%;
	height: 56vh;
	min-height: 20em; //Ev. abändern
	margin-top:  0em;
	margin-bottom: 0em;
}

.willkommen-s {
	background-color: red;
}

.ubermich-s {
	background-color: orange;
}

.angebote-s {
	background-color: yellow;
}

.info-s {
	background-color: grey;
}
//LAYOUT -> END SITES

